/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $fontStack;
  font-weight: $fontWeight;
  font-size: $fontSize;
  background-color: $backgroundPrimary;
  color: $colorPrimary;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

ol,
ul  {
 @include list-unstyled;
}

a {
  @include link-unstyled;
}