// COLORS
$colorPrimary: #333;
$colorSecondary: #777;

 /* backgrounds */
 $backgroundPrimary: #fff;

 /* btn colors */
 $btnPrimary: #ea625c;
 $btnHover: #fff;

// FONTS
$fontStack:  "Roboto", Arial, sans-serif;
$fontWeight: 400;
$fontSize: 16px;