@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "general";
@import "blocks/blocks";

/* HEADER START */

.site-header{
  padding: 30px 0px;
  
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-header__nav-list{
  display: flex;
}

.site-header__nav-item:not(:last-child){
  margin-right: 30px;
}

.site-header__nav-link{
  color: $colorPrimary;
  text-align: center;
  font-size: 15px;
  line-height: 22.5px;
  border-bottom: 1px solid transparent;
  
  &:hover{
    padding-bottom: 6px;
    color: $btnPrimary;
    border-bottom: 1px solid $btnPrimary;
  }
}

.site-header__nav-btn{
  margin-left: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid $colorPrimary;
  
  color: #666;
  font-size: 15px;
  line-height: 22.5px;
  
  &:hover{
    margin-left: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid $btnPrimary;
    
    color: $btnPrimary;
    font-size: 15px;
    line-height: 22.5px;
  }
  
}

/* HEADER END */

/* MAIN START */

.site-main{
  width: 100%;
}

/* HERO START */

.site-hero{
  width: 100%;
  padding-top: 140px;
  padding-bottom: 183px;
  background-image: url(../img/watches.png);
  background-repeat: no-repeat;
  background-size: 587px;
  background-position: calc(50% + 654px) bottom;
  
  &__wrapper{
    width: 100%;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
  
  &__title {
    margin-top: 0px;
    margin-bottom: 0;
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  
  &-desc{
    padding-left: 40px;
    border-left:solid 3px #888;
    color: $colorSecondary;
    line-height: 24px;
  }
  
  &__btn{
    width: 260px;
    padding: 12px;
    background-color: $btnPrimary;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    
    color: $backgroundPrimary;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px; 
    text-transform: uppercase;
    
    &:hover{
      color: $btnPrimary;
      background-color: transparent;
      border: 3px solid $btnPrimary;
    }
  }
  
  &__line{
    margin: 0;
  }
}

/* HERO END */

/* FEATURES END */

.site-features{
  width: 100%;
  
  &__wrapper{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: start;
    gap: 80px;
  }
}



.site-features__box{
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  
  &-title{
    margin-bottom: 30px;
    color: #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }
  
  &-desc{
    margin-bottom: 20px;
    color: $colorPrimary;
    font-size: 15px;
    line-height: 24px;
  }
  
  &-container{
    display: flex;
    gap: 10px;
  }
  
  &-squares{
    width: 8px;
    height: 8px;
    background-color: #DDD;
  }
  
  &-nav{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  &-line{
    width: 40px;
    height: 3px;
    border: none;
    background-color: $btnPrimary;
  }
  
  &-link{
    color: $btnPrimary;
    font-style: normal;
    font-weight: 700;
    line-height: 25.6px;
    text-transform: uppercase;
  }
  
}

/* FEATURES END */

/* MAIN END */