/* FEATURES START */

.site-features{
  width: 100%;
  
  &__wrapper{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: start;
    gap: 80px;
  }
}



.site-features__box{
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  
  &-title{
    margin-bottom: 30px;
    color: #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }
  
  &-desc{
    margin-bottom: 20px;
    color: $colorPrimary;
    font-size: 15px;
    line-height: 24px;
  }
  
  &-container{
    display: flex;
    gap: 10px;
  }
  
  &-squares{
    width: 8px;
    height: 8px;
    background-color: #DDD;
  }
  
  &-nav{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  &-line{
    width: 40px;
    height: 3px;
    border: none;
    background-color: $btnPrimary;
  }
  
  &-link{
    color: $btnPrimary;
    font-style: normal;
    font-weight: 700;
    line-height: 25.6px;
    text-transform: uppercase;
  }
  
}

/* FEATURES END */